*::-webkit-input-placeholder {
  color: #666;
  opacity: 1; }

*:-moz-placeholder {
  color: #666;
  opacity: 1; }

*::-moz-placeholder {
  color: #666;
  opacity: 1; }

*:-ms-input-placeholder {
  color: #666;
  opacity: 1; }

body input:focus:required:invalid,
body textarea:focus:required:invalid {
  color: #666; }

body input:required:valid,
body textarea:required:valid {
  color: #666; }

html {
  overflow-x: hidden; }

body {
  font-family: "Inter", sans-serif;
  margin: 0;
  line-height: 1.4;
  overflow-x: hidden; }

a {
  text-decoration: none; }

ul {
  margin: 0;
  padding: 0; }
  ul li {
    list-style-type: none; }

h1, h3, h4, h4, h5, h6, p {
  margin: 0; }

img {
  max-width: 100%; }

.input-wrapper {
  position: relative; }
  .input-wrapper .search-button {
    position: absolute;
    top: 7px;
    right: 10px;
    cursor: pointer; }
    .input-wrapper .search-button img {
      width: 22px; }

button {
  background: none;
  border: none; }
  button:hover {
    cursor: pointer; }
  button:focus {
    outline: none; }

.button.standard {
  font-weight: 600;
  border-radius: 20px;
  color: #ffffff; }

.button.standard-indent {
  padding: 10px 20px 11px 20px; }

.button.blue-button {
  background-color: #1166FB;
  transition: opacity .5s; }
  .button.blue-button:hover {
    transition: opacity .5s;
    opacity: .8; }
  .button.blue-button.shadow {
    box-shadow: 0px 6px 30px rgba(37, 117, 252, 0.4); }

.button.red-button {
  background-color: #FF4444; }

.button.white-button {
  background-color: #fafbfc;
  color: #1166FB;
  border: 2px solid #1166FB; }

.button.color-dark-gray {
  color: #5D5D5D; }

.button.bigger {
  padding: 15px 100px 18px;
  font-size: 20px; }

.color-blue {
  color: #1166FB; }

.color-dark-black {
  color: #2B2E34; }

.color-gray {
  color: #8B8B8B; }

.color-black-gray {
  color: #939393; }

.color-dark-blue {
  color: #000670; }

.color-dark-gray {
  color: #5D5D5D; }

.color-white {
  color: #ffffff; }

.letter-dark-green {
  color: #10505B; }

.letter-orange {
  color: #D5831F; }

.letter-dark-orange {
  color: #E36A42; }

.color-red {
  color: #B72C31; }

.color-violet {
  color: #363A72; }

.color-darkest-blue {
  color: #25476D; }

.color-green {
  color: #31791C; }

.color-pink {
  color: #B52B96; }

.white-bg {
  background-color: #ffffff; }

.text-center {
  text-align: center; }

.section {
  padding: 50px 0 60px; }
  .section.common {
    padding: 180px 0 130px; }
  .section.middle-common {
    padding: 190px 0 110px; }
  .section.light-pink {
    background-color: #FFF4F7; }
  .section.slider-popup-wrapper {
    padding: 0; }
  .section.biggest-bottom-indent {
    padding-bottom: 240px; }
  .section.context-block {
    padding: 200px 0 200px; }
  .section__section-title {
    font-size: 85px;
    line-height: 100%;
    font-weight: 800;
    text-align: center; }
    .section__section-title.reduce-line-height {
      line-height: 59px; }
  .section__common-title {
    font-size: 65px;
    line-height: 86px;
    font-weight: 800; }
  .section__section-middle-title {
    font-size: 40px;
    line-height: 60px;
    font-weight: 600; }
  .section__section-small-title {
    font-size: 27px;
    line-height: 40px;
    font-weight: 600; }
  .section__section-description {
    font-size: 25px;
    font-weight: 400;
    line-height: 30px;
    margin-top: 10px; }
    .section__section-description.increases-line-height {
      line-height: 32px; }
  .section__section-middle-description {
    font-size: 25px;
    line-height: 33px;
    margin-top: 10px;
    font-weight: 400; }
  .section__section-small-description {
    font-size: 25px;
    line-height: 33px; }
  .section__common-description {
    font-size: 35px;
    line-height: 42px;
    font-weight: 400; }
  .section__middle-b-indent {
    margin-bottom: 30px; }
  .section .content-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center; }
  .section .content-left-side {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 500px; }
  .section .content-right-side {
    padding-left: 40px;
    max-width: 610px; }

.text-list .section__common-description {
  margin-bottom: 45px; }

.main-title {
  font-size: 54px;
  line-height: 72px;
  font-weight: 600;
  text-align: left; }
  .main-title.text-center {
    text-align: center; }

.text-break {
  display: flex;
  justify-content: center; }

header {
  z-index: 200;
  width: 100%;
  position: fixed;
  background-color: #ffffff; }
  header.non-box-shadow {
    box-shadow: none; }
  header.resize {
    position: fixed; }
  header .top-header {
    padding: 30px 0 30px; }
    header .top-header .logo {
      width: 75px;
      margin-right: 35px; }
    header .top-header .wrapper-content {
      display: flex;
      flex-direction: row;
      justify-content: space-between; }
      header .top-header .wrapper-content .left-snippet {
        flex-grow: 1; }
        header .top-header .wrapper-content .left-snippet .input-wrapper {
          display: flex;
          flex-grow: 1;
          margin-right: 40px; }
      header .top-header .wrapper-content .left-snippet,
      header .top-header .wrapper-content .right-snippet {
        flex-direction: row;
        align-items: center; }
  header .top-menu {
    flex-direction: row;
    align-items: center; }
    header .top-menu li {
      padding: 0 40px; }
      header .top-menu li:last-of-type {
        padding-right: 0; }
      header .top-menu li a {
        color: #646369;
        font-size: 14px;
        font-weight: 600; }
        header .top-menu li a.active {
          color: #000000; }
        header .top-menu li a .active {
          color: #000000; }
  header .button.standard {
    font-size: 14px;
    margin-left: 60px;
    border-radius: 16px; }
  header .navi-hamburger {
    position: relative;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 20px;
    z-index: 3000;
    float: right;
    height: 48px;
    width: 48px;
    cursor: pointer;
    padding: 10px;
    background-color: transparent;
    transition: all .5s; }
    header .navi-hamburger.open span {
      left: -2px;
      width: 34px; }
      header .navi-hamburger.open span.top {
        top: -2px; }
      header .navi-hamburger.open span.bottom {
        top: 0px; }
    header .navi-hamburger.open span:first-child {
      transform: rotate(45deg) translate(7.4px, 12.4px);
      left: .5px; }
    header .navi-hamburger.open span:nth-child(2) {
      width: 0;
      opacity: 0; }
    header .navi-hamburger.open span:last-child {
      transform: rotate(-45deg) translate(8.4px, -8.4px); }
    header .navi-hamburger span {
      position: relative;
      display: block;
      top: 0px;
      height: 4px;
      width: 100%;
      border-radius: 5px;
      transition: all .25s;
      background-color: #1166FB; }
  header .bottom-header-line {
    border-top: 1px solid rgba(186, 186, 186, 0.28); }
    header .bottom-header-line ul {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      flex-wrap: wrap;
      padding: 12px 0; }
      header .bottom-header-line ul li {
        padding: 3px 27.5px; }

.nav-mobile {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: fixed;
  z-index: 2500;
  width: 100%;
  bottom: 0;
  height: 100%;
  left: -100%;
  background-color: #ffffff;
  transition-property: left;
  -webkit-transition: all .4s ease-in-out 0s;
  transition: all .4s ease-in-out 0s;
  overflow: auto; }
  .nav-mobile .top-header {
    padding-left: 15px;
    padding-right: 15px; }
  .nav-mobile.open {
    left: 0;
    -webkit-transition: all .4s ease-in-out 0s;
    transition: all .4s ease-in-out 0s; }
  .nav-mobile #collapse {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding-bottom: 100px; }
    .nav-mobile #collapse ul {
      border-top: 1px solid #d1d7db;
      margin: 0;
      padding: 0; }
    .nav-mobile #collapse li > ul {
      display: none; }
    .nav-mobile #collapse .custom-search {
      padding: 20px; }
    .nav-mobile #collapse li.first-item-menu {
      border-bottom: 1px solid #d1d7db; }
      .nav-mobile #collapse li.first-item-menu:last-of-type .link {
        border-bottom: 1px solid transparent; }
      .nav-mobile #collapse li.first-item-menu.open i.fa-chevron-right {
        transform: rotate(90deg);
        transition: transform .15s ease-in-out,-webkit-transform .15s ease-in-out; }
      .nav-mobile #collapse li.first-item-menu .link {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 18px 20px;
        cursor: pointer;
        transition: opacity .5s; }
        .nav-mobile #collapse li.first-item-menu .link.active span {
          color: #000000; }
        .nav-mobile #collapse li.first-item-menu .link span.active {
          color: #000000; }
        .nav-mobile #collapse li.first-item-menu .link:hover {
          transition: opacity .5s;
          opacity: .8; }
        .nav-mobile #collapse li.first-item-menu .link:active span {
          color: #000000; }
        .nav-mobile #collapse li.first-item-menu .link span, .nav-mobile #collapse li.first-item-menu .link a {
          width: 100%;
          display: flex;
          font-weight: 600;
          font-size: 16px;
          line-height: 18px;
          color: #646369; }
        .nav-mobile #collapse li.first-item-menu .link i.fa-chevron-right {
          transition: transform .15s ease-in-out,-webkit-transform .15s ease-in-out;
          font-size: 15px; }
      .nav-mobile #collapse li.first-item-menu ul.submenu li a {
        display: flex;
        padding: 20px 40px;
        border-bottom: 1px solid #d1d7db;
        background-color: #f5f5f5;
        font-size: 15px;
        line-height: 16px; }
    .nav-mobile #collapse .button-wrapper {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      padding-top: 20px; }
      .nav-mobile #collapse .button-wrapper .button {
        justify-content: center;
        width: 100%;
        max-width: 280px;
        padding: 12px;
        margin: 0px 20px 15px; }
        .nav-mobile #collapse .button-wrapper .button.b-line {
          border: 1px solid #5D5D5D; }

.main-banner {
  position: relative;
  padding: 220px 0 230px; }
  .main-banner.low {
    padding-bottom: 40px; }
  .main-banner .content-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center; }
    .main-banner .content-wrapper.short-wide .title {
      max-width: 1100px; }
    .main-banner .content-wrapper .section__section-title {
      max-width: 850px; }
    .main-banner .content-wrapper .section__section-description {
      max-width: 560px;
      font-size: 35px;
      line-height: 47px;
      margin-top: 25px; }
    .main-banner .content-wrapper .button {
      margin-top: 40px; }

.banner.high-block {
  padding: 125px 0 130px; }

.banner .snippet {
  position: relative; }
  .banner .snippet::after {
    content: " ";
    position: absolute;
    background-image: url("../img/heard-icon.svg");
    width: 24px;
    height: 24px;
    background-repeat: no-repeat;
    background-size: cover;
    bottom: 10px;
    right: -40px; }

.tile-blocks {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 70px;
  margin-right: -25px;
  margin-left: -25px; }
  .tile-blocks .tile-body-wrapper {
    display: flex;
    padding: 0 25px;
    width: 33.33px;
    min-width: 390px; }
  .tile-blocks .tile-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #F7F7F8;
    border-radius: 20px;
    min-height: 390px;
    padding: 50px 15px 35px;
    margin-bottom: 50px; }
    .tile-blocks .tile-body__tile-img {
      width: 55px; }
    .tile-blocks .tile-body__title {
      font-size: 25px;
      line-height: 33px;
      font-weight: 500;
      margin-top: 25px;
      margin-bottom: 10px;
      max-width: 300px;
      text-align: center; }
    .tile-blocks .tile-body__description {
      text-align: center;
      font-size: 25px;
      line-height: 30px;
      font-weight: 400; }

.img-banner {
  padding: 230px 0 60px;
  background-image: url("../img/banner-img.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center; }
  .img-banner .section__common-title {
    line-height: 100%;
    margin-bottom: 10px; }
  .img-banner .section__common-description {
    max-width: 760px; }

.context-block .row + .row {
  margin-top: 160px; }

.context-block .section__common-title {
  margin-bottom: 40px;
  line-height: 100%; }

.context-block .break-word {
  display: block; }

.context-block .right-text {
  text-align: right; }

.context-block .img-wrapper.right-side {
  align-items: flex-end; }

.section .content-wrapper .button {
  margin-top: 25px; }

footer {
  padding: 100px 0 25px; }
  footer .wrapper-content {
    justify-content: space-between;
    align-items: flex-end; }
  footer .bottom-menu {
    flex-direction: row;
    align-items: center; }
    footer .bottom-menu li {
      margin-right: 80px; }
      footer .bottom-menu li:last-of-type {
        margin-right: 0; }
      footer .bottom-menu li a {
        font-size: 14px;
        font-weight: 500;
        color: #646369; }
  footer .link-menu {
    flex-direction: row; }
    footer .link-menu li {
      padding: 0 10px; }
      footer .link-menu li:last-of-type {
        padding-right: 0; }
      footer .link-menu li a {
        display: flex;
        width: 25px;
        height: 25px; }
        footer .link-menu li a svg {
          width: 100% !important;
          height: 100% !important; }
          footer .link-menu li a svg path {
            fill: #646369; }

.slider-popup-wrapper .slider-popup-window {
  display: flex;
  position: fixed;
  z-index: 2400;
  top: 0;
  transition: all 2s; }
  .slider-popup-wrapper .slider-popup-window.active-popup {
    background-color: rgba(0, 0, 0, 0.2);
    transition: all 2s;
    width: 100%;
    min-height: 100%;
    z-index: 3000; }
  .slider-popup-wrapper .slider-popup-window .slider-popup-body {
    position: fixed;
    z-index: 2500;
    top: 0;
    display: flex;
    width: 960px;
    right: -100%;
    overflow-y: scroll;
    height: 100%;
    min-height: 100%;
    background-color: #fff;
    box-shadow: 0px 0px 37.24px 0.76px rgba(1, 1, 1, 0.46);
    -webkit-transition: all .8s ease-in-out 0s;
    transition: all .8s ease-in-out 0s; }
    .slider-popup-wrapper .slider-popup-window .slider-popup-body.active-body {
      right: 0;
      -webkit-transition: all .8s ease-in-out 0s;
      transition: all .8s ease-in-out 0s; }
    .slider-popup-wrapper .slider-popup-window .slider-popup-body .form-block {
      display: flex;
      flex-wrap: wrap;
      margin-right: -10px;
      margin-left: -10px; }
    .slider-popup-wrapper .slider-popup-window .slider-popup-body .wrapper-button {
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
      margin-bottom: 15px; }
    .slider-popup-wrapper .slider-popup-window .slider-popup-body a.close-button {
      display: flex;
      align-items: center;
      width: 38px; }
      .slider-popup-wrapper .slider-popup-window .slider-popup-body a.close-button img {
        display: block; }
    .slider-popup-wrapper .slider-popup-window .slider-popup-body .form-wrapper {
      padding: 0 10px;
      width: 100%;
      margin-bottom: 30px; }
      .slider-popup-wrapper .slider-popup-window .slider-popup-body .form-wrapper.one-half {
        width: 50%; }
    .slider-popup-wrapper .slider-popup-window .slider-popup-body .body-popup {
      display: flex;
      flex-direction: column;
      flex-grow: 1; }
    .slider-popup-wrapper .slider-popup-window .slider-popup-body .form-section {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
      flex-grow: 1; }
      .slider-popup-wrapper .slider-popup-window .slider-popup-body .form-section .section__section-description {
        font-weight: 400; }
      .slider-popup-wrapper .slider-popup-window .slider-popup-body .form-section#thanks-block {
        display: none; }
    .slider-popup-wrapper .slider-popup-window .slider-popup-body .form .standard-input {
      height: 90px;
      border-radius: 20px;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: transparent;
      border: 1px solid #707070;
      width: 100%;
      color: #8B8B8B;
      font-family: "Inter", sans-serif;
      font-size: 30px;
      line-height: 40px;
      font-weight: 400;
      padding: 0 30px;
      text-align: left;
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none; }
      .slider-popup-wrapper .slider-popup-window .slider-popup-body .form .standard-input:focus-visible {
        outline: none; }
      .slider-popup-wrapper .slider-popup-window .slider-popup-body .form .standard-input::-webkit-input-placeholder {
        font-size: 30px;
        line-height: 40px;
        color: #8B8B8B; }
      .slider-popup-wrapper .slider-popup-window .slider-popup-body .form .standard-input:-moz-placeholder {
        font-size: 30px;
        line-height: 40px;
        color: #8B8B8B; }
      .slider-popup-wrapper .slider-popup-window .slider-popup-body .form .standard-input::-moz-placeholder {
        font-size: 30px;
        line-height: 40px;
        color: #8B8B8B; }
      .slider-popup-wrapper .slider-popup-window .slider-popup-body .form .standard-input:-ms-input-placeholder {
        font-size: 30px;
        line-height: 40px;
        color: #8B8B8B; }
      .slider-popup-wrapper .slider-popup-window .slider-popup-body .form .standard-input::placeholder {
        font-size: 30px;
        line-height: 40px;
        color: #8B8B8B; }
    .slider-popup-wrapper .slider-popup-window .slider-popup-body .main-body {
      width: inherit;
      height: 100%;
      display: flex;
      flex-direction: column; }
    .slider-popup-wrapper .slider-popup-window .slider-popup-body .header-popup {
      width: inherit;
      z-index: 100;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      font-weight: 700;
      font-size: 32px;
      line-height: 40px;
      color: #000; }
      .slider-popup-wrapper .slider-popup-window .slider-popup-body .header-popup .title {
        font-size: 90px;
        line-height: 120px;
        margin-bottom: 40px; }
    .slider-popup-wrapper .slider-popup-window .slider-popup-body .body-popup {
      padding: 30px 50px 60px 40px; }

/*==========  Desktop First Method  ==========*/
/* Large Devices, Wide Screens */
@media only screen and (max-width: 1200px) {
  .tiles .content-wrapper .section__common-title {
    max-width: 580px; }
  .tiles .content-wrapper .section__section-middle-description {
    max-width: 540px; }
  .tile-blocks {
    margin-right: -15px;
    margin-left: -15px;
    flex-wrap: wrap;
    justify-content: center; }
    .tile-blocks .tile-body-wrapper {
      padding: 0 15px;
      min-width: 320px; }
    .tile-blocks .tile-body {
      margin-bottom: 40px; }
      .tile-blocks .tile-body__title {
        margin-top: 20px;
        font-size: 22px;
        line-height: 36px; }
      .tile-blocks .tile-body__description {
        font-size: 22px;
        line-height: 32px; } }

@media only screen and (max-width: 1100px) {
  .section__section-title {
    font-size: 75px; }
  .section__common-title {
    font-size: 55px;
    line-height: 60px; }
  .section__section-middle-description {
    font-size: 23px;
    line-height: 38px; }
  .section__common-description {
    font-size: 28px;
    line-height: 36px; }
  .button.bigger {
    padding: 13px 80px 16px; }
  header .top-header {
    padding: 30px 0 20px; }
  header .top-menu li {
    padding: 0 30px; }
  header .button.standard {
    margin-left: 50px;
    padding: 9px 16px 9px 16px; }
  .main-banner {
    padding: 200px 0 180px; }
    .main-banner .content-wrapper .section__section-title {
      max-width: 740px; }
    .main-banner .content-wrapper .section__section-description {
      font-size: 28px;
      line-height: 40px;
      max-width: 440px; }
    .main-banner .button {
      margin-top: 75px; }
  .section.common {
    padding: 160px 0 120px; }
  .section .content-right-side {
    max-width: 590px; }
  .banner .section__section-title {
    margin-bottom: 0; }
  .banner .snippet::after {
    width: 20px;
    height: 20px; }
  .common .content-wrapper .section__section-middle-description {
    max-width: 660px; }
  .img-banner {
    padding: 200px 0 60px; }
    .img-banner .section__common-title {
      margin-bottom: 25px; }
    .img-banner .section__common-description {
      max-width: 670px; }
  .context-block .row + .row {
    margin-top: 130px; }
  .context-block .section__common-title {
    font-size: 55px;
    margin-bottom: 40px; }
  .context-block .section__section-small-description {
    font-size: 25px;
    line-height: 36px; }
  .slider-popup-wrapper .slider-popup-window .slider-popup-body {
    width: 760px; }
    .slider-popup-wrapper .slider-popup-window .slider-popup-body .header-popup .title {
      font-size: 70px;
      line-height: 90px; }
    .slider-popup-wrapper .slider-popup-window .slider-popup-body a.close-button {
      width: 30px; }
    .slider-popup-wrapper .slider-popup-window .slider-popup-body .form-wrapper {
      margin-bottom: 30px; }
    .slider-popup-wrapper .slider-popup-window .slider-popup-body .main-body {
      height: 100%; }
    .slider-popup-wrapper .slider-popup-window .slider-popup-body .form-section {
      align-items: flex-start;
      justify-content: center; }
    .slider-popup-wrapper .slider-popup-window .slider-popup-body .form .standard-input {
      height: 70px;
      border-radius: 20px;
      width: 100%;
      color: #8B8B8B;
      font-size: 26px;
      line-height: 33px; }
      .slider-popup-wrapper .slider-popup-window .slider-popup-body .form .standard-input:focus-visible {
        outline: none; }
      .slider-popup-wrapper .slider-popup-window .slider-popup-body .form .standard-input::-webkit-input-placeholder {
        font-size: 26px;
        line-height: 33px; }
      .slider-popup-wrapper .slider-popup-window .slider-popup-body .form .standard-input:-moz-placeholder {
        font-size: 26px;
        line-height: 33px; }
      .slider-popup-wrapper .slider-popup-window .slider-popup-body .form .standard-input::-moz-placeholder {
        font-size: 26px;
        line-height: 33px; }
      .slider-popup-wrapper .slider-popup-window .slider-popup-body .form .standard-input:-ms-input-placeholder {
        font-size: 26px;
        line-height: 33px; }
      .slider-popup-wrapper .slider-popup-window .slider-popup-body .form .standard-input::placeholder {
        font-size: 26px;
        line-height: 33px; } }

/* Medium Devices, Desktops */
@media only screen and (max-width: 992px) {
  .section.context-block {
    padding: 200px 0 150px; }
  .section.middle-common {
    padding: 140px 0 90px; }
  .section__section-title {
    font-size: 50px; }
    .section__section-title.reduce-line-height {
      line-height: 54px; }
  .section__section-middle-title {
    font-size: 40px;
    line-height: 54px; }
  .section__section-small-title {
    font-size: 22px;
    line-height: 34px;
    font-weight: 600; }
  .section__section-description {
    font-size: 34px;
    line-height: 48px; }
  .section__section-small-description {
    font-size: 20px;
    line-height: 30px; }
  .section__section-middle-description {
    font-size: 21px;
    line-height: 29px;
    margin-top: 15px; }
  .section__common-title {
    font-size: 45px; }
  .section__common-description {
    font-size: 24px;
    line-height: 32px; }
  .section.common {
    padding: 160px 0 120px; }
  .text-list .section__common-description {
    font-size: 24px;
    line-height: 30px;
    margin-bottom: 35px; }
  .button.bigger {
    padding: 12px 70px 14px;
    font-size: 18px; }
  header .top-menu {
    display: none !important; }
  header .button.standard {
    display: none !important; }
  header .navi-hamburger {
    display: flex;
    top: 2px; }
  header .bottom-header-line .wrapper-content {
    display: none; }
  .main-banner {
    padding: 180px 0 120px; }
    .main-banner.low .section__common-title {
      font-size: 60px; }
    .main-banner .content-wrapper .section__section-title {
      max-width: 480px; }
    .main-banner .content-wrapper .section__section-description {
      font-size: 23px;
      line-height: 35px;
      max-width: 360px;
      margin-top: 0; }
    .main-banner .button {
      margin-top: 60px; }
  .section.common {
    padding: 140px 0 100px; }
    .section.common.tiles {
      padding: 100px 0 80px; }
  .section .content-wrapper {
    flex-direction: column; }
    .section .content-wrapper .section__section-title {
      margin-bottom: 25px; }
  .section .content-right-side {
    max-width: 480px;
    text-align: center;
    padding-left: 0; }
  .banner.high-block {
    padding: 100px 0 110px; }
  .tiles .content-wrapper .section__common-title {
    max-width: 520px; }
  .tiles .content-wrapper .section__section-middle-description {
    max-width: 440px; }
  .tile-blocks .tile-body {
    min-height: initial;
    max-width: 380px;
    margin-bottom: 30px; }
    .tile-blocks .tile-body__tile-img {
      width: 40px; }
    .tile-blocks .tile-body__title {
      font-size: 20px;
      line-height: 34px; }
    .tile-blocks .tile-body__description {
      font-size: 20px;
      line-height: 28px; }
  .img-banner {
    padding: 280px 0 120px; }
    .img-banner .section__common-title {
      text-align: center;
      margin-bottom: 25px; }
    .img-banner .section__common-description {
      text-align: center;
      max-width: 540px;
      font-size: 22px;
      line-height: 30px; }
  .context-block .row + .row {
    margin-top: 100px; }
  .context-block .section__common-title {
    font-size: 45px;
    line-height: 52px;
    text-align: center;
    margin-bottom: 25px; }
  .context-block .section__section-small-description {
    text-align: center;
    font-size: 20px;
    line-height: 31px; }
  footer .bottom-menu li {
    margin-right: 50px; }
  footer .link-menu li {
    padding: 0 8px; }
    footer .link-menu li a {
      width: 20px;
      height: 20px; }
  .slider-popup-wrapper .slider-popup-window .slider-popup-body {
    width: 625px; }
    .slider-popup-wrapper .slider-popup-window .slider-popup-body .header-popup .title {
      font-size: 60px;
      line-height: 70px; }
    .slider-popup-wrapper .slider-popup-window .slider-popup-body a.close-button {
      width: 28px; }
    .slider-popup-wrapper .slider-popup-window .slider-popup-body .form-wrapper {
      margin-bottom: 30px; }
    .slider-popup-wrapper .slider-popup-window .slider-popup-body .body-popup {
      height: 100%; }
    .slider-popup-wrapper .slider-popup-window .slider-popup-body .form .standard-input {
      height: 60px;
      border-radius: 20px;
      width: 100%;
      color: #8B8B8B;
      font-size: 24px;
      line-height: 31px;
      padding: 0 25px; }
      .slider-popup-wrapper .slider-popup-window .slider-popup-body .form .standard-input:focus-visible {
        outline: none; }
      .slider-popup-wrapper .slider-popup-window .slider-popup-body .form .standard-input::-webkit-input-placeholder {
        font-size: 24px;
        line-height: 31px; }
      .slider-popup-wrapper .slider-popup-window .slider-popup-body .form .standard-input:-moz-placeholder {
        font-size: 24px;
        line-height: 31px; }
      .slider-popup-wrapper .slider-popup-window .slider-popup-body .form .standard-input::-moz-placeholder {
        font-size: 24px;
        line-height: 31px; }
      .slider-popup-wrapper .slider-popup-window .slider-popup-body .form .standard-input:-ms-input-placeholder {
        font-size: 24px;
        line-height: 31px; }
      .slider-popup-wrapper .slider-popup-window .slider-popup-body .form .standard-input::placeholder {
        font-size: 24px;
        line-height: 31px; } }

/* Small Devices, Tablets */
@media only screen and (max-width: 768.99px) {
  .section__section-title {
    font-size: 40px; }
  .section__section-description {
    font-size: 28px;
    line-height: 42px; }
  .section__section-small-description {
    font-size: 18px;
    line-height: 30px; }
  .section__common-title {
    font-size: 40px;
    line-height: 50px; }
  .section__section-middle-description {
    font-size: 18px;
    line-height: 28px; }
  .section__common-description {
    font-size: 24px;
    line-height: 34px; }
  .text-list .section__common-description {
    font-size: 22px;
    line-height: 30px;
    margin-bottom: 35px; }
  .text-break {
    display: initial; }
  .button.bigger {
    padding: 10px 40px 12px;
    font-size: 14px; }
  .section {
    padding: 40px 0 50px; }
    .section.middle-common {
      padding: 120px 0 80px; }
    .section.common {
      padding: 100px 0 80px; }
      .section.common.tiles {
        padding: 80px 0 60px; }
  .section .content-wrapper .section__section-title {
    margin-bottom: 20px; }
  header .top-header {
    padding: 20px 0; }
  header .logo {
    width: 90px; }
  .main-banner {
    padding: 160px 0 100px; }
    .main-banner.low .section__common-title {
      font-size: 45px; }
    .main-banner .content-wrapper .section__section-title {
      max-width: 400px; }
    .main-banner .content-wrapper .section__section-description {
      max-width: 320px;
      font-size: 20px;
      line-height: 26px; }
    .main-banner .button {
      margin-top: 50px; }
  .banner.high-block {
    padding: 70px 0 90px; }
  .banner .section__section-title {
    line-height: 45px; }
  .banner .snippet::after {
    width: 18px;
    height: 18px;
    right: -35px;
    bottom: 6px; }
  .tiles .content-wrapper .section__common-title {
    max-width: 460px; }
  .tiles .content-wrapper .section__section-middle-description {
    max-width: 340px; }
  .tile-blocks {
    padding-top: 50px;
    flex-wrap: wrap;
    justify-content: center; }
    .tile-blocks .tile-body-wrapper {
      min-width: initial;
      max-width: 320px;
      width: 100%; }
    .tile-blocks .tile-body {
      padding: 40px 15px 30px;
      max-width: 340px;
      min-height: initial;
      margin-bottom: 30px; }
      .tile-blocks .tile-body__title {
        font-size: 20px;
        line-height: 30px;
        margin-bottom: 10px; }
      .tile-blocks .tile-body__description {
        font-size: 18px;
        line-height: 26px; }
  .img-banner {
    padding: 180px 0 80px; }
    .img-banner .section__common-title {
      font-size: 35px;
      text-align: center;
      margin-bottom: 25px; }
    .img-banner .section__common-description {
      font-size: 20px;
      line-height: 28px; }
  .context-block .row + .row {
    margin-top: 80px; }
  .context-block .section__common-title {
    font-size: 35px;
    line-height: 45px;
    margin-bottom: 30px;
    text-align: center; }
  .context-block .section__section-small-description {
    text-align: center;
    font-size: 18px;
    line-height: 28px; }
  .section.banner .content-wrapper .section__section-middle-description {
    max-width: 420px;
    font-size: 20px;
    line-height: 28px; }
  footer {
    padding: 180px 0 40px; }
    footer .bottom-menu li {
      margin-right: 40px; }
      footer .bottom-menu li a {
        font-size: 18px; }
    footer .link-menu li {
      padding: 0 10px; }
      footer .link-menu li a {
        width: 28px;
        height: 28px; }
  .slider-popup-wrapper .slider-popup-window .slider-popup-body {
    box-shadow: none;
    width: 100%; }
    .slider-popup-wrapper .slider-popup-window .slider-popup-body .header-popup .title {
      text-align: center;
      font-size: 53px;
      line-height: 63px; }
    .slider-popup-wrapper .slider-popup-window .slider-popup-body a.close-button {
      width: 24px; }
    .slider-popup-wrapper .slider-popup-window .slider-popup-body .form-wrapper {
      margin-bottom: 25px; }
      .slider-popup-wrapper .slider-popup-window .slider-popup-body .form-wrapper.one-half {
        width: 100%; }
      .slider-popup-wrapper .slider-popup-window .slider-popup-body .form-wrapper:last-of-type {
        margin-bottom: 40px; }
    .slider-popup-wrapper .slider-popup-window .slider-popup-body .main-body {
      height: 100%; }
    .slider-popup-wrapper .slider-popup-window .slider-popup-body .body-popup {
      height: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 30px 30px 60px; }
    .slider-popup-wrapper .slider-popup-window .slider-popup-body .wrapper-button {
      width: 100%;
      max-width: 100%; }
    .slider-popup-wrapper .slider-popup-window .slider-popup-body .form-section {
      height: 100%;
      width: 100%;
      max-width: 460px;
      display: flex;
      flex-direction: column;
      align-content: center;
      align-items: center;
      justify-content: center; }
      .slider-popup-wrapper .slider-popup-window .slider-popup-body .form-section#thanks-block {
        justify-content: center !important; }
        .slider-popup-wrapper .slider-popup-window .slider-popup-body .form-section#thanks-block .header-popup .title {
          margin-bottom: 25px; }
        .slider-popup-wrapper .slider-popup-window .slider-popup-body .form-section#thanks-block .header-popup .section__section-description {
          text-align: center; }
        .slider-popup-wrapper .slider-popup-window .slider-popup-body .form-section#thanks-block .button {
          margin-top: 40px; }
    .slider-popup-wrapper .slider-popup-window .slider-popup-body .form .standard-input {
      height: 55px;
      border-radius: 20px;
      width: 100%;
      color: #8B8B8B;
      font-size: 20px;
      line-height: 26px; }
      .slider-popup-wrapper .slider-popup-window .slider-popup-body .form .standard-input:focus-visible {
        outline: none; }
      .slider-popup-wrapper .slider-popup-window .slider-popup-body .form .standard-input::-webkit-input-placeholder {
        font-size: 20px;
        line-height: 26px; }
      .slider-popup-wrapper .slider-popup-window .slider-popup-body .form .standard-input:-moz-placeholder {
        font-size: 20px;
        line-height: 26px; }
      .slider-popup-wrapper .slider-popup-window .slider-popup-body .form .standard-input::-moz-placeholder {
        font-size: 20px;
        line-height: 26px; }
      .slider-popup-wrapper .slider-popup-window .slider-popup-body .form .standard-input:-ms-input-placeholder {
        font-size: 20px;
        line-height: 26px; }
      .slider-popup-wrapper .slider-popup-window .slider-popup-body .form .standard-input::placeholder {
        font-size: 20px;
        line-height: 26px; } }

/* Extra Small Devices, Phones */
@media only screen and (max-width: 575px) {
  .section__section-title {
    font-size: 32px;
    line-height: 32px; }
  .section__section-description {
    font-size: 20px;
    line-height: 28px; }
  .section__section-small-description {
    font-size: 18px;
    line-height: 28px; }
  .section__common-title {
    font-size: 35px;
    line-height: 45px; }
  .section__section-middle-description {
    font-size: 18px;
    line-height: 28px; }
  .section__common-description {
    font-size: 18px;
    line-height: 26px; }
  .section {
    padding: 40px 0 70px; }
    .section.middle-common {
      padding: 90px 0 60px; }
    .section.context-block {
      padding: 100px 0 80px; }
    .section.common {
      padding: 100px 0 80px; }
  .section .content-wrapper .button {
    margin-top: 30px; }
  .text-list .section__common-description {
    font-size: 18px;
    line-height: 28px;
    margin-bottom: 25px; }
  .nav-mobile #collapse .button-wrapper .button {
    max-width: 260px;
    padding: 10px 30px; }
  .button.bigger {
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-size: 16px;
    width: 100%;
    max-width: 260px; }
  .main-banner {
    padding: 160px 0 80px; }
    .main-banner.low {
      padding-bottom: 70px; }
      .main-banner.low .section__common-title {
        font-size: 30px;
        line-height: 35px; }
    .main-banner .content-wrapper .section__section-title {
      max-width: 310px;
      margin-bottom: 0; }
    .main-banner .content-wrapper .section__section-description {
      max-width: 300px;
      margin-top: 15px; }
    .main-banner .content-wrapper .button {
      margin-top: 25px; }
  .banner.high-block {
    padding: 70px 0 70px; }
  .banner .section__section-title {
    font-size: 35px;
    margin-bottom: 20px; }
    .banner .section__section-title .text-break {
      display: inline-flex; }
  .banner .snippet::after {
    width: 20px;
    height: 20px;
    right: -30px;
    bottom: 7px; }
  .common .content-wrapper {
    max-width: 350px; }
  .tile-blocks {
    padding-top: 40px;
    flex-wrap: wrap;
    justify-content: center; }
    .tile-blocks .tile-body {
      padding: 45px 15px 30px;
      max-width: 300px;
      min-height: initial;
      margin-bottom: 40px; }
      .tile-blocks .tile-body__tile-img {
        width: 35px; }
  .img-banner {
    padding: 180px 0 50px; }
    .img-banner .section__common-title {
      font-size: 32px;
      text-align: center;
      margin-bottom: 25px; }
    .img-banner .section__common-description {
      font-size: 18px;
      line-height: 26px; }
  .context-block .row + .row {
    margin-top: 80px; }
  .context-block .section__common-title {
    font-size: 35px;
    margin-bottom: 25px;
    text-align: center; }
  .context-block .img-wrapper {
    text-align: center; }
    .context-block .img-wrapper.right-side {
      align-items: center; }
    .context-block .img-wrapper img {
      max-width: 240px; }
  .context-block .section__section-small-description {
    text-align: center;
    font-size: 18px;
    line-height: 28px; }
  .section.banner .content-wrapper .section__section-middle-description {
    font-size: 18px;
    line-height: 28px; }
  footer {
    padding: 100px 0 40px; }
    footer .wrapper-content {
      flex-direction: column;
      align-items: center; }
    footer .bottom-menu {
      flex-direction: column;
      margin-bottom: 40px; }
      footer .bottom-menu li {
        margin-right: 0;
        margin-bottom: 40px; }
        footer .bottom-menu li a {
          font-size: 18px; }
    footer .link-menu li {
      padding: 0 10px; }
      footer .link-menu li a {
        width: 28px;
        height: 28px; }
  .slider-popup-wrapper .slider-popup-window {
    height: 100%; }
    .slider-popup-wrapper .slider-popup-window.active-popup {
      height: 100%;
      background-color: transparent; }
    .slider-popup-wrapper .slider-popup-window .slider-popup-body {
      width: 100%; }
      .slider-popup-wrapper .slider-popup-window .slider-popup-body .header-popup .title {
        text-align: center;
        font-size: 35px;
        line-height: 45px;
        margin-bottom: 30px; }
      .slider-popup-wrapper .slider-popup-window .slider-popup-body .close-button {
        width: 25px; }
      .slider-popup-wrapper .slider-popup-window .slider-popup-body .form-wrapper {
        width: 90%;
        margin-bottom: 15px; }
        .slider-popup-wrapper .slider-popup-window .slider-popup-body .form-wrapper.one-half {
          width: 90%; }
        .slider-popup-wrapper .slider-popup-window .slider-popup-body .form-wrapper:last-of-type {
          margin-bottom: 25px; }
      .slider-popup-wrapper .slider-popup-window .slider-popup-body .main-body {
        height: 100%; }
      .slider-popup-wrapper .slider-popup-window .slider-popup-body .body-popup {
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 30px 20px 30px 20px; }
      .slider-popup-wrapper .slider-popup-window .slider-popup-body .wrapper-button {
        width: 100%;
        padding: 0 15px; }
      .slider-popup-wrapper .slider-popup-window .slider-popup-body .form-block {
        justify-content: center; }
      .slider-popup-wrapper .slider-popup-window .slider-popup-body .form-section {
        height: 100%;
        width: 100%;
        max-width: 320px;
        display: flex;
        flex-direction: column;
        align-content: center;
        align-items: center;
        justify-content: center; }
      .slider-popup-wrapper .slider-popup-window .slider-popup-body .button {
        width: 100%;
        max-width: 90%;
        height: 46px;
        align-items: center; }
      .slider-popup-wrapper .slider-popup-window .slider-popup-body .form .standard-input {
        height: 46px;
        border-radius: 20px;
        width: 100%;
        color: #8B8B8B;
        font-size: 16px;
        line-height: 22px;
        padding: 0 20px; }
        .slider-popup-wrapper .slider-popup-window .slider-popup-body .form .standard-input:focus-visible {
          outline: none; }
        .slider-popup-wrapper .slider-popup-window .slider-popup-body .form .standard-input::-webkit-input-placeholder {
          font-size: 16px;
          line-height: 22px; }
        .slider-popup-wrapper .slider-popup-window .slider-popup-body .form .standard-input:-moz-placeholder {
          font-size: 16px;
          line-height: 22px; }
        .slider-popup-wrapper .slider-popup-window .slider-popup-body .form .standard-input::-moz-placeholder {
          font-size: 16px;
          line-height: 22px; }
        .slider-popup-wrapper .slider-popup-window .slider-popup-body .form .standard-input:-ms-input-placeholder {
          font-size: 16px;
          line-height: 22px; }
        .slider-popup-wrapper .slider-popup-window .slider-popup-body .form .standard-input::placeholder {
          font-size: 16px;
          line-height: 22px; } }

@media only screen and (max-width: 480px) {
  footer .main-title {
    margin-bottom: 25px; }
  footer .wrapper-footer {
    flex-direction: column;
    align-items: center; }
    footer .wrapper-footer .item-list {
      max-width: 320px !important; } }

/* Custom, iPhone Retina */
@media only screen and (max-width: 320px) {
  /**/ }

/*==========  Mobile First Method  ==========*/
/* Custom, iPhone Retina */
@media only screen and (min-width: 320px) {
  /**/ }

/* Extra Small Devices, Phones */
@media only screen and (min-width: 480px) {
  /**/ }

/* Small Devices, Tablets */
@media only screen and (min-width: 768px) {
  /**/ }

/* Medium Devices, Desktops */
@media only screen and (min-width: 992px) {
  /**/ }

/* Large Devices, Wide Screens */
@media only screen and (min-width: 1200px) {
  .container,
  .container-lg,
  .container-xl {
    max-width: 1150px; }
  .container-widder {
    max-width: 1210px; } }
