//@import "bourbon"

/*==========  Desktop First Method  ==========*/

/* Large Devices, Wide Screens */

@media only screen and (max-width : 1600px)


	.common
		.content-wrapper
			max-width: 950px
			.section__section-middle-description
				max-width: 780px

@media only screen and (max-width : 1500px)
	.tile-blocks
		.tile-body
			&__title
				font-size: 32px
				line-height: 44px
			&__description
				font-size: 32px
				line-height: 39px

@media only screen and (max-width : 1400px)
	.section__section-title
		font-size: 120px
		line-height: 120px
	.section__section-description
		font-size: 45px
		line-height: 63px
	.section__section-small-description
		font-size: 32px
		line-height: 44px
	.section__common-title
		font-size: 90px
		line-height: 110px
	.section__section-middle-description
		font-size: 36px
		line-height: 49px

	.section
		.content-wrapper
			justify-content: space-around
		.content-right-side
			//text-align: center
			max-width: 550px
	.button
		&.bigger
			font-size: 28px
			padding: 22px 115px 24px

	header
		.top-menu li a,
		.button.standard
			font-size: 20px

	.main-banner
		.content-wrapper
			.section__section-title
				max-width: 1150px
			.section__section-description
				max-width: 700px
	.banner
		.section__section-title
			line-height: 105px

	.tile-blocks
		margin-right: -15px
		margin-left: -15px
		.tile-body-wrapper
			padding: 0 15px
		.tile-body
			padding: 60px 20px 30px
			min-height: 450px
			&__tile-img
				max-width: 60px
			&__title
				margin-top: 50px
				font-size: 26px
				line-height: 38px
			&__description
				font-size: 26px
				line-height: 32px


	.slider-popup-wrapper
		.slider-popup-window
			.slider-popup-body
				width: 860px
				.header-popup
					.title
						font-size: 80px
						line-height: 100px
				a.close-button
					width: 34px
				.form
					.standard-input
						height: 80px
						border-radius: 20px
						width: 100%
						color: $gray-color
						font-size: 28px
						line-height: 35px
						&:focus-visible
							outline: none
						&::-webkit-input-placeholder
							font-size: 28px
							line-height: 35px
						&:-moz-placeholder
							font-size: 28px
							line-height: 35px
						&::-moz-placeholder
							font-size: 28px
							line-height: 35px
						&:-ms-input-placeholder
							font-size: 28px
							line-height: 35px
						&::placeholder
							font-size: 28px
							line-height: 35px


@media only screen and (max-width : 1300px)

	.context-block
		.section__common-title
			font-size: 83px
		.section__section-small-description
			font-size: 30px

@media only screen and (max-width : 1200px)

	.section__section-title
		font-size: 90px
		line-height: 90px
	.section__section-description
		font-size: 38px
		line-height: 52px
	.section__section-small-description
		font-size: 28px
		line-height: 40px
	.section__common-title
		font-size: 80px
		line-height: 95px
	.section__section-middle-description
		font-size: 34px
		line-height: 47px
	.section__common-description
		font-size: 32px
		line-height: 42px

	.button
		&.bigger
			padding: 18px 90px 20px
			font-size: 24px


	header
		.top-header
			padding: 30px 0 20px
		.top-menu li
			padding: 0 25px
		.top-menu li a,
		.button.standard
			font-size: 18px
		.button.standard
			margin-left: 50px
			padding: 11px 24px 14px


	.main-banner
		padding: 200px 0 200px
		.content-wrapper
			.section__section-title
				max-width: 900px
			.section__section-description
				max-width: 600px
		.button
			margin-top: 75px

	.section
		&.common
			padding: 200px 0 150px
		.content-wrapper
			flex-direction: column
		.content-right-side
			max-width: 670px
			text-align: center
	.banner
		.section__section-title
			line-height: 80px
			margin-bottom: 40px
		.snippet
			&::after
				width: 30px
				height: 30px

	.common
		.content-wrapper
			.section__section-middle-description
				max-width: 660px

	.tile-blocks
		margin-right: -20px
		margin-left: -20px
		flex-wrap: wrap
		justify-content: center
		.tile-body-wrapper
			padding: 0 20px
			&:last-of-type
				.tile-body
					margin-bottom: 0
		.tile-body
			padding: 60px 20px 30px
			min-height: 450px
			margin-bottom: 40px

			&__tile-img
				max-width: 60px
			&__title
				margin-top: 50px
				font-size: 26px
				line-height: 38px
			&__description
				font-size: 26px
				line-height: 32px

	.img-banner
		padding: 300px 0 140px
		.section__common-title
			font-size: 75px
			text-align: center
			margin-bottom: 25px
		.section__common-description
			text-align: center
			max-width: 100%

	.context-block
		.row+.row
			margin-top: 160px
		.section__common-title
			font-size: 65px
			margin-bottom: 40px
		.section__section-small-description
			font-size: 25px
			line-height: 36px

	footer
		padding: 250px 0 50px

	.slider-popup-wrapper
		.slider-popup-window
			.slider-popup-body
				width: 760px
				.header-popup
					.title
						font-size: 70px
						line-height: 90px
				a.close-button
					width: 30px
				.form-wrapper
					margin-bottom: 30px
				.main-body
					height: 100%
				.form-section
					align-items: flex-start
					justify-content: center
				.form
					.standard-input
						height: 70px
						border-radius: 20px
						width: 100%
						color: $gray-color
						font-size: 26px
						line-height: 33px
						&:focus-visible
							outline: none
						&::-webkit-input-placeholder
							font-size: 26px
							line-height: 33px
						&:-moz-placeholder
							font-size: 26px
							line-height: 33px
						&::-moz-placeholder
							font-size: 26px
							line-height: 33px
						&:-ms-input-placeholder
							font-size: 26px
							line-height: 33px
						&::placeholder
							font-size: 26px
							line-height: 33px


/* Medium Devices, Desktops */
@media only screen and (max-width : 992px)



	.main-title
		font-size: 42px
		line-height: 56px



	.section
		&.context-block
			padding: 200px 0 150px
		&.middle-common
			padding: 140px 0 90px
		&__section-title
			font-size: 70px
			line-height: 70px
			&.reduce-line-height
				line-height: 54px
		&__section-middle-title
			font-size: 40px
			line-height: 54px
		&__section-small-title
			font-size: 22px
			line-height: 34px
			font-weight: 600
		&__section-description
			font-size: 34px
			line-height: 48px
		&__section-small-description
			font-size: 24px
			line-height: 36px
		&__section-middle-description
			font-size: 32px
			line-height: 45px
			margin-top: 15px
		&__common-title
			font-size: 70px
			line-height: 80px
		&__common-description
			font-size: 28px
			line-height: 38px
		&.common
			padding: 160px 0 120px

	.text-list
		.section__common-description
			font-size: 24px
			line-height: 30px
			margin-bottom: 35px
	.button
		&.bigger
			padding: 16px 80px 18px
			font-size: 22px



	header
		.top-menu
			display: none!important
		.button
			&.standard
				display: none!important
		.navi-hamburger
			display: flex
			top: 2px
		.bottom-header-line
			.wrapper-content
				display: none
				

	.main-banner
		padding: 180px 0 160px
		&.low
			.section__common-title
				font-size: 60px
		.content-wrapper
			.section__section-description
				max-width: 500px
		.button
			margin-top: 60px



	.banner
		&.high-block
			padding: 100px 0 110px
		.section__section-title
			line-height: 60px

	.tile-blocks
		.tile-body
			min-height: 400px
			max-width: 380px
			margin-bottom: 40px
			&__tile-img
				max-width: 50px
			&__title
				margin-top: 50px
				font-size: 24px
				line-height: 36px
			&__description
				font-size: 24px
				line-height: 30px

	.img-banner
		padding: 280px 0 120px
		.section__common-title
			font-size: 65px
			text-align: center
			margin-bottom: 25px


	.context-block
		.row+.row
			margin-top: 140px
		.section__common-title
			text-align: center
		.section__section-small-description
			text-align: center
			font-size: 25px
			line-height: 36px


	.section.banner
		.content-wrapper
			.section__section-middle-description
				font-size: 30px
				line-height: 42px
				margin-top: 20px
	footer
		padding: 200px 0 50px
		.bottom-menu
			li
				margin-right: 50px
				a
					font-size: 20px
		.link-menu
			li
				padding: 0 12px
				a
					width: 35px
					height: 35px

	.slider-popup-wrapper
		.slider-popup-window
			.slider-popup-body
				width: 625px
				.header-popup
					.title
						font-size: 60px
						line-height: 70px
				a.close-button
					width: 28px
				.form-wrapper
					margin-bottom: 30px
				.body-popup
					height: 100%
				.form
					.standard-input
						height: 60px
						border-radius: 20px
						width: 100%
						color: $gray-color
						font-size: 24px
						line-height: 31px
						padding: 0 25px
						&:focus-visible
							outline: none
						&::-webkit-input-placeholder
							font-size: 24px
							line-height: 31px
						&:-moz-placeholder
							font-size: 24px
							line-height: 31px
						&::-moz-placeholder
							font-size: 24px
							line-height: 31px
						&:-ms-input-placeholder
							font-size: 24px
							line-height: 31px
						&::placeholder
							font-size: 24px
							line-height: 31px

/* Small Devices, Tablets */
@media only screen and (max-width : 768.99px)
	
	///*Disable Animation on Mobile Devices*/
	//.animated
	//	/*CSS transitions*/
	//	-o-transition-property: none !important
	//	-moz-transition-property: none !important
	//	-ms-transition-property: none !important
	//	-webkit-transition-property: none !important
	//	transition-property: none !important
	//	/*CSS transforms*/
	//	-o-transform: none !important
	//	-moz-transform: none !important
	//	-ms-transform: none !important
	//	-webkit-transform: none !important
	//	transform: none !important
	//	/*CSS animations*/
	//	-webkit-animation: none !important
	//	-moz-animation: none !important
	//	-o-animation: none !important
	//	-ms-animation: none !important
	//	animation: none !important

	.section__section-title
		font-size: 50px
		line-height: 50px
	.section__section-description
		font-size: 28px
		line-height: 42px
	.section__section-small-description
		font-size: 22px
		line-height: 34px
	.section__common-title
		font-size: 50px
		line-height: 60px
	.section__section-middle-description
		font-size: 28px
		line-height: 41px
	.section__common-description
		font-size: 24px
		line-height: 34px

	.text-list
		.section__common-description
			font-size: 22px
			line-height: 30px
			margin-bottom: 35px

	.button
		&.bigger
			padding: 14px 60px 18px
			font-size: 20px

	.section
		&.middle-common
			padding: 120px 0 80px
		&.common
			padding: 140px 0 100px

	header
		.top-header
			padding: 20px 0
		.logo
			width: 90px

	.main-banner
		padding: 160px 0 120px
		&.low
			.section__common-title
				font-size: 45px
		.content-wrapper
			.section__section-description
				max-width: 440px
				margin-top: 30px
		.button
			margin-top: 50px

	.banner
		&.high-block
			padding: 70px 0 90px
		.section__section-title
			line-height: 45px
		.snippet::after
			width: 22px
			height: 22px
			right: -45px
			bottom: 3px

	.tile-blocks
		padding-top: 80px
		margin-right: -20px
		margin-left: -20px
		flex-wrap: wrap
		justify-content: center
		.tile-body-wrapper
			padding: 0 20px
		.tile-body
			padding: 60px 20px 40px
			max-width: 340px
			min-height: initial
			margin-bottom: 40px
			&__title
				margin-top: 40px
				font-size: 22px
				line-height: 34px
			&__description
				font-size: 22px
				line-height: 28px

	.img-banner
		padding: 240px 0 100px
		.section__common-title
			font-size: 55px
			text-align: center
			margin-bottom: 25px

	.context-block
		.row+.row
			margin-top: 120px
		.section__common-title
			font-size: 55px
			margin-bottom: 40px
			text-align: center
		.section__section-small-description
			text-align: center
			font-size: 22px
			line-height: 31px

	.section.banner
		.content-wrapper
			.section__section-middle-description
				max-width: 420px
				font-size: 24px
				line-height: 34px


	footer
		padding: 180px 0 40px
		.bottom-menu
			li
				margin-right: 40px
				a
					font-size: 18px
		.link-menu
			li
				padding: 0 10px
				a
					width: 28px
					height: 28px

	.slider-popup-wrapper
		.slider-popup-window
			.slider-popup-body
				box-shadow: none
				width: 100%
				.header-popup
					.title
						text-align: center
						font-size: 53px
						line-height: 63px
				a.close-button
					width: 24px
				.form-wrapper
					margin-bottom: 25px
					&.one-half
						width: 100%
					&:last-of-type
						margin-bottom: 40px
				.main-body
					height: 100%
				.body-popup
					height: 100%
					display: flex
					flex-direction: column
					align-items: center
					padding: 30px 30px 60px
				.wrapper-button
					width: 100%
					max-width: 100%
				.form-section
					height: 100%
					width: 100%
					max-width: 460px
					display: flex
					flex-direction: column
					align-content: center
					align-items: center
					justify-content: center
					&#thanks-block
						justify-content: center!important
						.header-popup
							.title
								margin-bottom: 25px
							.section__section-description
								text-align: center
						.button
							margin-top: 40px

				.form
					.standard-input
						height: 55px
						border-radius: 20px
						width: 100%
						color: $gray-color
						font-size: 20px
						line-height: 26px
						&:focus-visible
							outline: none
						&::-webkit-input-placeholder
							font-size: 20px
							line-height: 26px
						&:-moz-placeholder
							font-size: 20px
							line-height: 26px
						&::-moz-placeholder
							font-size: 20px
							line-height: 26px
						&:-ms-input-placeholder
							font-size: 20px
							line-height: 26px
						&::placeholder
							font-size: 20px
							line-height: 26px


/* Extra Small Devices, Phones */

@media only screen and (max-width : 600px)
	//** 1111
@media only screen and (max-width : 575px)

	.section__section-title
		font-size: 32px
		line-height: 32px
	.section__section-description
		font-size: 20px
		line-height: 28px
	.section__section-small-description
		font-size: 18px
		line-height: 28px
	.section__common-title
		font-size: 35px
		line-height: 45px
	.section__section-middle-description
		font-size: 20px
		line-height: 28px
	.section__common-description
		font-size: 18px
		line-height: 26px
	.section
		padding: 40px 0 70px
		&.middle-common
			padding: 90px 0 60px
		&.context-block
			padding: 100px 0 80px
		&.common
			padding: 100px 0 80px
	.section
		.content-wrapper
			.button
				margin-top: 30px

	.text-list
		.section__common-description
			font-size: 18px
			line-height: 28px
			margin-bottom: 25px


	.nav-mobile
		#collapse
			.button-wrapper
				.button
					max-width: 260px
					padding: 10px 30px
	.button.bigger
		display: flex
		flex-direction: row
		justify-content: center
		padding: 10px 30px
		font-size: 18px
		width: 100%
		max-width: 260px

	.main-banner
		padding: 160px 0 90px
		&.low
			padding-bottom: 70px
			.section__common-title
				font-size: 30px
				line-height: 35px
		.content-wrapper
			.section__section-title
				max-width: 310px
			.section__section-description
				max-width: 300px
				margin-top: 25px
			.button
				margin-top: 40px
	.banner
		&.high-block
			padding: 70px 0 70px
		.section__section-title
			font-size: 35px
			margin-bottom: 20px
			.text-break
				display: inline-flex
		.snippet::after
			width: 20px
			height: 20px
			right: -30px
			bottom: 7px

	.common
		.content-wrapper
			max-width: 350px

	.tile-blocks
		padding-top: 60px
		margin-right: -15px
		margin-left: -15px
		flex-wrap: wrap
		justify-content: center
		.tile-body-wrapper
			padding: 0 15px
		.tile-body
			padding: 45px 15px 30px
			max-width: 300px
			min-height: initial
			margin-bottom: 40px
			&__tile-img
				max-width: 40px
			&__title
				margin-top: 35px
				font-size: 20px
				line-height: 31px
			&__description
				font-size: 20px
				line-height: 26px

	.img-banner
		padding: 180px 0 50px
		.section__common-title
			font-size: 35px
			text-align: center
			margin-bottom: 25px

	.context-block
		.row+.row
			margin-top: 80px
		.section__common-title
			font-size: 35px
			margin-bottom: 30px
			text-align: center
		.img-wrapper
			text-align: center
			&.right-side
				align-items: center
			img
				max-width: 220px
		.section__section-small-description
			text-align: center
			font-size: 18px
			line-height: 29px

	.section.banner
		.content-wrapper
			.section__section-middle-description
				font-size: 18px
				line-height: 28px

	footer
		padding: 100px 0 40px
		.wrapper-content
			flex-direction: column
			align-items: center
		.bottom-menu
			flex-direction: column
			margin-bottom: 40px
			li
				margin-right: 0
				margin-bottom: 40px
				a
					font-size: 18px
		.link-menu
			li
				padding: 0 10px
				a
					width: 28px
					height: 28px

	.slider-popup-wrapper
		.slider-popup-window
			height: 100%
			&.active-popup
				height: 100%
				background-color: transparent
			.slider-popup-body
				width: 100%
				.header-popup
					.title
						text-align: center
						font-size: 35px
						line-height: 45px
						margin-bottom: 30px
				.close-button
					width: 25px
				.form-wrapper
					width: 90%
					margin-bottom: 15px
					&.one-half
						width: 90%
					&:last-of-type
						margin-bottom: 25px
				.main-body
					height: 100%
				.body-popup
					height: 100%
					display: flex
					flex-direction: column
					align-items: center
					padding: 30px 20px 30px 20px
				.wrapper-button
					width: 100%
					padding: 0 15px
				.form-block
					justify-content: center
				.form-section
					height: 100%
					width: 100%
					max-width: 320px
					display: flex
					flex-direction: column
					align-content: center
					align-items: center
					justify-content: center
				.button
					width: 100%
					max-width: 90%
					height: 46px
					align-items: center
				.form
					.standard-input
						height: 46px
						border-radius: 20px
						width: 100%
						color: $gray-color
						font-size: 16px
						line-height: 22px
						padding: 0 20px
						&:focus-visible
							outline: none
						&::-webkit-input-placeholder
							font-size: 16px
							line-height: 22px
						&:-moz-placeholder
							font-size: 16px
							line-height: 22px
						&::-moz-placeholder
							font-size: 16px
							line-height: 22px
						&:-ms-input-placeholder
							font-size: 16px
							line-height: 22px
						&::placeholder
							font-size: 16px
							line-height: 22px


@media only screen and (max-width : 480px)

	footer
		.main-title
			margin-bottom: 25px
		.wrapper-footer
			flex-direction: column
			align-items: center
			.item-list
				max-width: 320px!important

/* Custom, iPhone Retina */
@media only screen and (max-width : 320px)
	/**/


/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px)
	/**/


/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px)
	/**/


/* Small Devices, Tablets */
@media only screen and (min-width : 768px)
	/**/


/* Medium Devices, Desktops */
@media only screen and (min-width : 992px)
	/**/


/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px)
	.container,
	.container-lg,
	.container-xl
		max-width: 1590px
	.container-widder
		max-width: 1730px


