
@import "vars.sass"



*::-webkit-input-placeholder
	color: #666
	opacity: 1

*:-moz-placeholder
	color: #666
	opacity: 1

*::-moz-placeholder
	color: #666
	opacity: 1

*:-ms-input-placeholder
	color: #666
	opacity: 1

body input:focus:required:invalid,
body textarea:focus:required:invalid
	color: #666
body input:required:valid,
body textarea:required:valid
	color: #666

//Custom Styles Here
html
	overflow-x: hidden

body
	font-family: $Inter
	margin: 0
	line-height: 1.4
	overflow-x: hidden


//main component style

a
	text-decoration: none

ul
	margin: 0
	padding: 0
	li
		list-style-type: none

h1,h3,h4,h4,h5,h6,p
	margin: 0

img
	max-width: 100%

.input-wrapper
	position: relative
	.search-button
		position: absolute
		top: 7px
		right: 10px
		cursor: pointer
		img
			width: 22px

.standard-input
	display: flex
	justify-content: center
	align-items: center
	background-color: transparent
	border: 1px solid #c3c3c3
	height: 40px
	width: 100%
	color: #3A3A3A
	font-family: $Inter
	font-size: 15px
	font-weight: 400
	padding: 0 15px
	text-align: left
	border-radius: 5px
	-webkit-appearance: none
	-moz-appearance: none
	appearance: none
	&:focus-visible
		outline: none
	&::-webkit-input-placeholder
		font-size: 15px
		color: $dark-gray
	&:-moz-placeholder
		font-size: 15px
		color: $dark-gray
	&::-moz-placeholder
		font-size: 15px
		color: $dark-gray
	&:-ms-input-placeholder
		font-size: 15px
		color: $dark-gray
	&::placeholder
		font-size: 15px
		color: $dark-gray

button
	background: none
	border: none
	&:focus
		outline: none

.button
	&.standard
		font-weight: 600
		border-radius: 20px
		color: $white-color
	&.standard-indent
		padding: 14px 25px 17px 25px
	&.blue-button
		background-color: $blue-color
		transition: opacity .5s
		&:hover
			transition: opacity .5s
			opacity: .8
		&.shadow
			box-shadow: 0px 6px 30px rgba(37, 117, 252, 0.4)
	&.red-button
		background-color: #FF4444
	&.white-button
		background-color: #fafbfc
		color: $blue-color
		border: 2px solid $blue-color
	&.color-dark-gray
		color: $dark-gray
	&.bigger
		padding: 25px 125px 27px
		font-size: 30px

//end main component style

@import "setting-component"


header
	position: relative
	z-index: 200
	//box-shadow: 0 8px 11px #e3e4ea
	&.non-box-shadow
		box-shadow: none
	.top-header
		padding: 40px 0 40px
		.logo
			margin-right: 35px
		.wrapper-content
			display: flex
			flex-direction: row
			justify-content: space-between
			.left-snippet
				flex-grow: 1
				.input-wrapper
					display: flex
					flex-grow: 1
					margin-right: 40px
			.left-snippet,
			.right-snippet
				flex-direction: row
				align-items: center
	.top-menu
		flex-direction: row
		align-items: center
		li
			padding: 0 30px
			&:last-of-type
				padding-right: 0
			a
				color: #646369
				font-size: 22px
				font-weight: 600
				&.active
					color: $black-color
				.active
					color: $black-color
	.button.standard
		font-size: 22px
		margin-left: 60px
		border-radius: 16px



	.navi-hamburger
		position: relative
		display: none
		flex-direction: column
		justify-content: space-between
		margin-left: 20px
		//top: 60px
		z-index: 3000
		//right: 15px
		float: right
		height: 48px
		width: 48px
		cursor: pointer
		padding: 10px
		background-color: transparent
		transition: all .5s
		&.open
			span
				left: -2px
				width: 34px
				&.top
					top: -2px
				&.bottom
					top: 0px
			span:first-child
				transform: rotate(45deg) translate(7.4px, 12.4px)
				left: .5px
			span:nth-child(2)
				width: 0
				opacity: 0
			span:last-child
				transform: rotate(-45deg) translate(8.4px, -8.4px)
		span
			position: relative
			display: block
			top: 0px
			height: 4px
			width: 100%
			border-radius: 5px
			transition: all .25s
			background-color: $blue-color
	.bottom-header-line
		border-top: 1px solid rgba(186,186,186, .28)

		ul
			display: flex
			flex-direction: row
			justify-content: flex-start
			flex-wrap: wrap
			padding: 12px 0
			li
				padding: 3px 27.5px



	//for mob menu
.nav-mobile
	display: flex
	flex-direction: column
	justify-content: space-between
	position: fixed
	top: 80px
	z-index: 2500
	//padding-top: 160px
	width: 100%
	bottom: 0
	height: 100%
	left: -100%
	background-color: #fafbfc
	transition-property: left
	transition-duration: .3s
	transition-timing-function: ease-in
	overflow: auto
	.top-header
		padding-left: 15px
		padding-right: 15px
	&.open
		left: 0
	#collapse
		display: flex
		flex-direction: column
		justify-content: flex-start
		padding-bottom: 100px
		ul
			border-top: 1px solid #d1d7db
			margin: 0
			padding: 0
		li > ul
			display: none
		.custom-search
			padding: 20px
		li.first-item-menu
			border-bottom: 1px solid #d1d7db
			&:last-of-type
				.link
					border-bottom: 1px solid transparent
			&.open
					i.fa-chevron-right
						transform: rotate(90deg)
						transition: transform .15s ease-in-out,-webkit-transform .15s ease-in-out
			.link
				display: flex
				flex-direction: row
				justify-content: space-between
				align-items: center
				padding: 20px 20px
				cursor: pointer
				&.active
					background-color: $blue-color
					span
						color: $white-color
				&:hover
					transition: background-color .5s
					background-color: #5f92e6
					span
						transition: all .5s
						color: $white-color
						opacity: .8
				&:active
						background-color: $dark-blue-color
				&:active
					span
						//color: $black-red
				span,a
					text-transform: uppercase
					width: 100%
					display: flex
					font-weight: 600
					font-size: 15px
					line-height: 16px
					color: $dark-gray
				i.fa-chevron-right
					transition: transform .15s ease-in-out,-webkit-transform .15s ease-in-out
					//color: $orange
					font-size: 15px
			ul.submenu
				li
					a
						display: flex
						padding: 20px 40px
						border-bottom: 1px solid #d1d7db
						background-color: #f5f5f5
						font-size: 15px
						line-height: 16px
		.button-wrapper
			display: flex
			flex-wrap: wrap
			justify-content: center
			padding-top: 20px
			.button
				width: 100%
				max-width: 360px
				//max-width: 50%
				margin: 0px 20px 15px
				&.b-line
					border: 1px solid $dark-gray

	//home page



.main-banner
	position: relative
	padding: 80px 0 260px
	.content-wrapper
		display: flex
		flex-direction: column
		align-items: center
		.section__section-title
			max-width: 1250px
		.section__section-description
			max-width: 800px
			margin-top: 50px
	.button
		margin-top: 100px


.banner
	.section__section-title
		line-height: 115px
	.snippet
		position: relative
		&::after
			content: " "
			position: absolute
			background-image: url("../img/heard-icon.svg")
			width: 36px
			height: 36px
			background-repeat: no-repeat
			background-size: cover
			bottom: 6px
			right: -55px




.tile-blocks
	display: flex
	flex-direction: row
	justify-content: space-between
	padding-top: 100px
	margin-right: -25px
	margin-left: -25px
	.tile-body-wrapper
		padding: 0 25px
	.tile-body
		display: flex
		flex-direction: column
		align-items: center
		background-color: #F7F7F8
		border-radius: 20px
		max-width: 440px
		padding: 80px 25px 35px
		margin-bottom: 50px
		&__tile-img
			width: 80px
		&__title
			font-size: 35px
			line-height: 47px
			font-weight: 500
			margin-top: 70px
			margin-bottom: 10px
			max-width: 300px
			text-align: center
		&__description
			text-align: center
			font-size: 35px
			line-height: 42px
			font-weight: 400

.img-banner
	padding: 340px 0 160px
	background-image: url("../img/banner-img.jpg")
	background-repeat: no-repeat
	background-size: cover
	background-position: center
	.section__common-title
		line-height: 100%
		margin-bottom: 10px
	.section__common-description
		max-width: 900px

.context-block
	.row+.row
		margin-top: 240px
	.section__common-title
		margin-bottom: 60px
		line-height: 100%
	.break-word
		display: block
	.right-text
		text-align: right
	.img-wrapper
		&.right-side
			align-items: flex-end
footer
	padding: 200px 0 70px
	background-color: #001840
	color: #DDDDDD
	&.standard-top-indent
		padding-top: 90px
	a
		color: #DDDDDD
	.wrapper-footer
		display: flex
		flex-direction: row
		justify-content: space-between
	.logo
		margin-bottom: 30px
	.title
		font-size: 12px
		line-height: 18px
		font-weight: 600
		margin-bottom: 10px
	.description
		font-size: 12px
		line-height: 18px
		font-weight: 400
	.right-side
		width: 60%
		display: flex
		flex-direction: row
		justify-content: space-between
	.main-title
		text-transform: uppercase
		font-size: 16px
		line-height: 25px
		font-weight: 600
		margin-bottom: 30px
	.main-description
		font-size: 13px
		line-height: 20px
		font-weight: 400
	.item-list
		display: flex
		flex-direction: column
		&:first-of-type
			max-width: 450px
		&.context-item
			width: 100%
			max-width: 280px
		.main-description
			margin-bottom: 15px
		.standard-input
			background-color: $white-color
			height: 46px
			font-size: 12px
			font-weight: 400
			color: #AFAFAF
			margin-bottom: 10px
			&::-webkit-input-placeholder
				font-size: 12px
				font-weight: 400
				color: #AFAFAF
			&:-moz-placeholder
				font-size: 12px
				font-weight: 400
				color: #AFAFAF
			&::-moz-placeholder
				font-size: 12px
				font-weight: 400
				color: #AFAFAF
			&:-ms-input-placeholder
				font-size: 12px
				font-weight: 400
				color: #AFAFAF
			&::placeholder
				font-size: 12px
				font-weight: 400
				color: #AFAFAF
		.button
			padding: 12px 15px
			font-weight: 500

	.list
		li
			display: flex
			margin-bottom: 8px
			&:last-of-type
				margin-bottom: 0
			a
				font-size: 13px
				line-height: 20px
				font-weight: 400
	.link-list
		display: flex
		flex-direction: row
		margin-top: 45px
		li
			margin-right: 26px
			a
				display: flex


//ALWAYS END
@import "media"
