
@import "vars.sass"



*::-webkit-input-placeholder
	color: #666
	opacity: 1

*:-moz-placeholder
	color: #666
	opacity: 1

*::-moz-placeholder
	color: #666
	opacity: 1

*:-ms-input-placeholder
	color: #666
	opacity: 1

body input:focus:required:invalid,
body textarea:focus:required:invalid
	color: #666
body input:required:valid,
body textarea:required:valid
	color: #666

//Custom Styles Here
html
	overflow-x: hidden

body
	font-family: $Inter
	margin: 0
	line-height: 1.4
	overflow-x: hidden


//main component style

a
	text-decoration: none

ul
	margin: 0
	padding: 0
	li
		list-style-type: none

h1,h3,h4,h4,h5,h6,p
	margin: 0

img
	max-width: 100%

.input-wrapper
	position: relative
	.search-button
		position: absolute
		top: 7px
		right: 10px
		cursor: pointer
		img
			width: 22px



button
	background: none
	border: none
	&:hover
		cursor: pointer
	&:focus
		outline: none

.button
	&.standard
		font-weight: 600
		border-radius: 20px
		color: $white-color
	&.standard-indent
		padding: 14px 25px 17px 25px
	&.blue-button
		background-color: $blue-color
		transition: opacity .5s
		&:hover
			transition: opacity .5s
			opacity: .8
		&.shadow
			box-shadow: 0px 6px 30px rgba(37, 117, 252, 0.4)
	&.red-button
		background-color: #FF4444
	&.white-button
		background-color: #fafbfc
		color: $blue-color
		border: 2px solid $blue-color
	&.color-dark-gray
		color: $dark-gray
	&.bigger
		padding: 25px 125px 27px
		font-size: 30px

//end main component style

@import "setting-component"


header
	z-index: 200
	width: 100%
	position: fixed
	background-color: $white-color
	//box-shadow: 0 8px 11px #e3e4ea
	&.non-box-shadow
		box-shadow: none
	&.resize
		position: fixed
	.top-header
		padding: 35px 0 30px
		.logo
			margin-right: 35px
		.wrapper-content
			display: flex
			flex-direction: row
			justify-content: space-between
			.left-snippet
				flex-grow: 1
				.input-wrapper
					display: flex
					flex-grow: 1
					margin-right: 40px
			.left-snippet,
			.right-snippet
				flex-direction: row
				align-items: center
	.top-menu
		flex-direction: row
		align-items: center
		li
			padding: 0 30px
			&:last-of-type
				padding-right: 0
			a
				color: #646369
				font-size: 22px
				font-weight: 600
				&.active
					color: $black-color
				.active
					color: $black-color
	.button.standard
		font-size: 22px
		margin-left: 60px
		border-radius: 16px



	.navi-hamburger
		position: relative
		display: none
		flex-direction: column
		justify-content: space-between
		margin-left: 20px
		//top: 60px
		z-index: 3000
		//right: 15px
		float: right
		height: 48px
		width: 48px
		cursor: pointer
		padding: 10px
		background-color: transparent
		transition: all .5s
		&.open
			span
				left: -2px
				width: 34px
				&.top
					top: -2px
				&.bottom
					top: 0px
			span:first-child
				transform: rotate(45deg) translate(7.4px, 12.4px)
				left: .5px
			span:nth-child(2)
				width: 0
				opacity: 0
			span:last-child
				transform: rotate(-45deg) translate(8.4px, -8.4px)
		span
			position: relative
			display: block
			top: 0px
			height: 4px
			width: 100%
			border-radius: 5px
			transition: all .25s
			background-color: $blue-color
	.bottom-header-line
		border-top: 1px solid rgba(186,186,186, .28)

		ul
			display: flex
			flex-direction: row
			justify-content: flex-start
			flex-wrap: wrap
			padding: 12px 0
			li
				padding: 3px 27.5px



	//for mob menu
.nav-mobile
	display: flex
	flex-direction: column
	justify-content: space-between
	position: fixed
	//top: 80px
	z-index: 2500
	//padding-top: 160px
	width: 100%
	bottom: 0
	height: 100%
	left: -100%
	background-color: $white-color
	transition-property: left
	-webkit-transition: all .4s ease-in-out 0s
	transition: all .4s ease-in-out 0s
	overflow: auto
	.top-header
		padding-left: 15px
		padding-right: 15px
	&.open
		left: 0
		-webkit-transition: all .4s ease-in-out 0s
		transition: all .4s ease-in-out 0s
	#collapse
		display: flex
		flex-direction: column
		justify-content: flex-start
		padding-bottom: 100px
		ul
			border-top: 1px solid #d1d7db
			margin: 0
			padding: 0
		li > ul
			display: none
		.custom-search
			padding: 20px
		li.first-item-menu
			border-bottom: 1px solid #d1d7db
			&:last-of-type
				.link
					border-bottom: 1px solid transparent
			&.open
					i.fa-chevron-right
						transform: rotate(90deg)
						transition: transform .15s ease-in-out,-webkit-transform .15s ease-in-out
			.link
				display: flex
				flex-direction: row
				justify-content: space-between
				align-items: center
				padding: 20px 20px
				cursor: pointer
				transition: opacity .5s
				&.active
					span
						color: #000000
				span.active
					color: #000000
				&:hover
					transition: opacity .5s
					opacity: .8
					//span
					//	transition: all .5s
					//	color: $white-color
					//	opacity: .8

				&:active
					span
						color: #000000
				span,a
					width: 100%
					display: flex
					font-weight: 600
					font-size: 18px
					line-height: 20px
					color: #646369
				i.fa-chevron-right
					transition: transform .15s ease-in-out,-webkit-transform .15s ease-in-out
					//color: $orange
					font-size: 15px
			ul.submenu
				li
					a
						display: flex
						padding: 20px 40px
						border-bottom: 1px solid #d1d7db
						background-color: #f5f5f5
						font-size: 15px
						line-height: 16px
		.button-wrapper
			display: flex
			flex-wrap: wrap
			justify-content: center
			padding-top: 20px
			.button
				justify-content: center
				width: 100%
				max-width: 320px
				//max-width: 50%
				padding: 14px
				margin: 0px 20px 15px
				&.b-line
					border: 1px solid $dark-gray

	//home page



.main-banner
	position: relative
	padding: 220px 0 260px
	&.low
		padding-bottom: 40px
	.content-wrapper
		display: flex
		flex-direction: column
		align-items: center
		&.short-wide
			.title
				max-width: 1100px
		.section__section-title
			max-width: 1250px
		.section__section-description
			max-width: 800px
			margin-top: 50px
	.button
		margin-top: 100px


.banner
	&.high-block
		padding: 125px 0 130px
	.section__section-title
		line-height: 115px
	.snippet
		position: relative
		&::after
			content: " "
			position: absolute
			background-image: url("../img/heard-icon.svg")
			width: 36px
			height: 36px
			background-repeat: no-repeat
			background-size: cover
			bottom: 6px
			right: -55px




.tile-blocks
	display: flex
	flex-direction: row
	justify-content: space-between
	padding-top: 100px
	margin-right: -25px
	margin-left: -25px
	.tile-body-wrapper
		padding: 0 25px
	.tile-body
		display: flex
		flex-direction: column
		align-items: center
		background-color: #F7F7F8
		border-radius: 20px
		max-width: 440px
		padding: 80px 25px 35px
		margin-bottom: 50px
		&__tile-img
			width: 80px
		&__title
			font-size: 35px
			line-height: 47px
			font-weight: 500
			margin-top: 70px
			margin-bottom: 10px
			max-width: 300px
			text-align: center
		&__description
			text-align: center
			font-size: 35px
			line-height: 42px
			font-weight: 400

.img-banner
	padding: 340px 0 160px
	background-image: url("../img/banner-img.jpg")
	background-repeat: no-repeat
	background-size: cover
	background-position: center
	.section__common-title
		line-height: 100%
		margin-bottom: 10px
	.section__common-description
		max-width: 900px

.context-block
	.row+.row
		margin-top: 240px
	.section__common-title
		margin-bottom: 60px
		line-height: 100%
	.break-word
		display: block
	.right-text
		text-align: right
	.img-wrapper
		&.right-side
			align-items: flex-end

.section
	.content-wrapper
		.button
			margin-top: 50px
footer
	padding: 300px 0 50px
	.wrapper-content
		justify-content: space-between
		align-items: flex-end
	.bottom-menu
		flex-direction: row
		align-items: center
		li
			margin-right: 60px
			&:last-of-type
				margin-right: 0
			a
				font-size: 22px
				font-weight: 500
				color: #646369

	.link-menu
		flex-direction: row
		li
			padding: 0 14px
			&:last-of-type
				padding-right: 0
			a
				display: flex
				width: 40px
				height: 40px
				svg
					width: 100%!important
					height: 100%!important
					path
						fill: #646369



.slider-popup-wrapper
	.slider-popup-window
		display: flex
		position: fixed
		z-index: 2400
		top: 0
		transition: all 2s
		&.active-popup
			background-color: rgba(0, 0, 0, .2)
			transition: all 2s
			width: 100%
			min-height: 100%
			z-index: 3000
		.slider-popup-body
			position: fixed
			z-index: 2500
			top: 0
			display: flex
			width: 960px
			right: -100%
			//right: 0
			overflow-y: scroll
			height: 100%
			min-height: 100%
			background-color: #fff
			box-shadow: 0px 0px 37.24px 0.76px rgba(1, 1, 1, 0.46)
			-webkit-transition: all .8s ease-in-out 0s
			transition: all .8s ease-in-out 0s
			&.active-body
				right: 0
				-webkit-transition: all .8s ease-in-out 0s
				transition: all .8s ease-in-out 0s

			.form-block
				display: flex
				flex-wrap: wrap
				margin-right: -10px
				margin-left: -10px
			.wrapper-button
				display: flex
				flex-direction: row
				justify-content: flex-end
				margin-bottom: 15px
			a.close-button
				display: flex
				align-items: center
				width: 38px
				img
					display: block
			.form-wrapper
				padding: 0 10px
				width: 100%
				margin-bottom: 30px
				&.one-half
					width: 50%
			.body-popup
				display: flex
				flex-direction: column
				flex-grow: 1
			.form-section
				display: flex
				flex-direction: column
				justify-content: center
				align-items: flex-start
				flex-grow: 1
				.section__section-description
					font-weight: 400
				&#thanks-block
					display: none
			.form
				.standard-input
					height: 90px
					border-radius: 20px
					display: flex
					justify-content: center
					align-items: center
					background-color: transparent
					border: 1px solid #707070
					width: 100%
					color: $gray-color
					font-family: $Inter
					font-size: 30px
					line-height: 40px
					font-weight: 400
					padding: 0 30px
					text-align: left
					-webkit-appearance: none
					-moz-appearance: none
					appearance: none
					&:focus-visible
						outline: none
					&::-webkit-input-placeholder
						font-size: 30px
						line-height: 40px
						color: $gray-color
					&:-moz-placeholder
						font-size: 30px
						line-height: 40px
						color: $gray-color
					&::-moz-placeholder
						font-size: 30px
						line-height: 40px
						color: $gray-color
					&:-ms-input-placeholder
						font-size: 30px
						line-height: 40px
						color: $gray-color
					&::placeholder
						font-size: 30px
						line-height: 40px
						color: $gray-color
			//settings class for popup

			//end of settings class for popup
			.main-body
				width: inherit
				height: 100%
				display: flex
				flex-direction: column

			.header-popup
				width: inherit
				z-index: 100
				display: flex
				flex-direction: row
				justify-content: space-between
				font-weight: 700
				font-size: 32px
				line-height: 40px
				color: #000
				.title
					font-size: 90px
					line-height: 120px
					margin-bottom: 40px

			.body-popup
				padding: 30px 50px 60px 40px





//ALWAYS END
@import "media"
